@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&family=Spartan:wght@300;400;500&display=swap");

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Spartan', sans-serif;
}

:root {
    --PrimaryColor: linear-gradient(315deg, #63a4ff 0%, #83eaf1 74%);
    --SecondaryColor: hsl(180, 17%, 95%);
    --ColorOne: hsl(15, 74%, 70%);
    --ColorTwo: hsl(28, 100%, 82%);
    --HoverColor: hsl(225, 56%, 59%);
    --whiteColor: hsl(0, 0%, 100%);
    --blackColor: hsl(0, 0%, 0%);
    --textColor: hsl(240, 1%, 48%);
    --borderColor: hsl(0, 0%, 83%);
    --whiteColorDeam: hsl(0, 0%, 93%);
    --greyBg: hsl(0, 0%, 96%);
    --greyText: rgb(145, 145, 145);
    --inputColor: hsl(330, 12%, 97%);
    --boxShadow: box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
    --transition: .4s ease-in-out;
}

body {
    background: var(--blackColor);
}

h1 {
    color: var(--SecondaryColor);
}

a {
    text-decoration: none;
    color: var(--whiteColor);
}

p {
    color: var(--whiteColor);
    font-size: 20px;
    padding: 2rem 1rem;
}

.btn {
    padding: .7rem 2.5rem;
    background: var(--PrimaryColor);
    border: none;
    outline: none;
    border-radius: .5rem;
    cursor: pointer;
    color: var(--whiteColor);
    font-size: 15px;
    font-weight: 600;
}

.btn:hover {
    background: var(--ColorOne);
    color: var(--whiteColor);
    transition: var(--transition);
    cursor: pointer;
}

.nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1rem 5rem;
}

.home {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 5rem 0;
}

.section-left {
    padding: 3.5rem 2.5rem;
}

img {
    height: 350px;
    width: 350px;
}

.section-right {
    padding-top: 10rem;
    width: 650px;
}

.section-right .count-down {
    color: var(--SecondaryColor);
    font-size: 4.5rem;
    display: flex;
    justify-content: flex-start;
    padding-left: 1rem;
}

.section-right .btn {
    margin: 1rem;
}

.footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    border-top: 2px solid var(--greyText);
}

.footer-name {
    color: var(--HoverColor);
    padding: 0 .5rem;
    font-weight: 600;
}

.social-icons {
    width: 20%;
    display: flex;
    flex-direction: row;
    padding-top: 1.5rem;
    padding-left: 5rem;
    gap: 1rem;
}

.icon {
    background: var(--PrimaryColor);
    border: 3px solid var(--greyBg);
    font-size: 2.5rem;
    border-radius: 20px;
    cursor: pointer;
}

.icon:hover {
    transform: translatey(-15%);
    transition: var(--transition);
}